<app-navbar></app-navbar>
<section class="content">
  <form id="quizForm" action="result.html" method="post">
    <h1 style="color: black;">Test Psicometrico</h1>
    <h2>Pregunta 1:</h2>
    <p>¿Te sientes cómodo trabajando en equipo?</p>
    <label><input type="radio" name="q1" value="Sí"> Sí</label>
    <label><input type="radio" name="q1" value="No"> No</label>
    <label><input type="radio" name="q1" value="No estoy seguro"> No estoy seguro</label>

    <h2>Pregunta 2:</h2>
    <p>¿Cómo te describirías en situaciones de estrés?</p>
    <label><input type="radio" name="q2" value="Tranquilo"> Tranquilo</label>
    <label><input type="radio" name="q2" value="Nervioso"> Nervioso</label>
    <label><input type="radio" name="q2" value="No estoy seguro"> No estoy seguro</label>


    <h2>Pregunta 3:</h2>
    <p>¿Cómo te describirías en situaciones de estrés?</p>
    <label><input type="radio" name="q2" value="Tranquilo"> Tranquilo</label>
    <label><input type="radio" name="q2" value="Nervioso"> Nervioso</label>
    <label><input type="radio" name="q2" value="No estoy seguro"> No estoy seguro</label>



    <h2>Pregunta 4:</h2>
    <p>¿Cómo te describirías en situaciones de estrés?</p>
    <label><input type="radio" name="q2" value="Tranquilo"> Tranquilo</label>
    <label><input type="radio" name="q2" value="Nervioso"> Nervioso</label>
    <label><input type="radio" name="q2" value="No estoy seguro"> No estoy seguro</label>

    <!-- Agrega más preguntas aquí -->

    <input type="submit"  class="btn btn-primary" value="Enviar">
  </form>
</section>