<app-navbar></app-navbar>
<section class="content">


    <div class="search-container">
        <input type="text" placeholder="Buscar">
        <button type="submit">Buscar</button>
      </div>

      
    <div class="card">
        <div class="card-header">
          Publicado hace 4 horas
        </div>
        <div class="card-body">
          <h5 class="card-title">Comput-Peru</h5>
          <p class="card-text">Estamos buscando Practicantes.</p>
          <ul>
            <li>Conocer JavaScript</li>
            <li>Ingles basico</li>
            <li>Disponibilidad de tiempo</li>
          </ul>
          <a href="#" class="btn btn-primary">Postular</a>
        </div>
      </div>
      <br>


      <div class="card">
        <div class="card-header">
          Publicado hace 4 horas
        </div>
        <div class="card-body">
          <h5 class="card-title">Tec-con</h5>
          <p class="card-text">Estamos buscando Practicantes.</p>
          <ul>
            <li>Sbaer manejar PHP</li>
            <li>Manejo de frameworks</li>
            <li>Ingles B1</li>
          </ul>
          <a href="#" class="btn btn-primary">Postular</a>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          Publicado hace 4 horas
        </div>
        <div class="card-body">
          <h5 class="card-title">DJango</h5>
          <p class="card-text">Buscando Practicantes en DJango.</p>
          <ul>
            <li>Conocer Python</li>
            <li>Saber estructuras y algoritmos</li>
            <li>Conocer docker</li>
          </ul>
          <a href="#" class="btn btn-primary">Postular</a>
        </div>
      </div>
      
      
      
      
</section>
