<app-navbar></app-navbar>
<section class="content">


  <div class="search-container">
    <input type="text" placeholder="Buscar">
    <button type="submit">Buscar</button>
  </div> 


  
  <div class="container">
    <div class="card text-center mb-4">
      <div class="card-header">
        Practicas
      </div>
      <div class="card-body">
        <img src="https://d500.epimg.net/cincodias/imagenes/2021/11/23/lifestyle/1637650722_970768_1637650824_noticia_normal.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Practicas en Android</h5>
        <p class="card-text">Postula y conoce los requisitos.</p>
        <a href="/testp" class="btn btn-primary">Postular</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
 

 
    <div class="card text-center mb-4">
      <div class="card-header">
        Practicas
      </div>
      <div class="card-body">
        <img src="https://www.datocms-assets.com/45470/1631110818-logo-react-js.png" class="card-img-top" alt="...">
        <h5 class="card-title">Practicas en Android</h5>
        <p class="card-text">Postula y conoce los requisitos.</p>
        <a href="/testp" class="btn btn-primary">Postular</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>


    <div class="card text-center m-4">
      <div class="card-header">
        Practicas
      </div>
      <div class="card-body">
        <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2023/04/raspberry-lanza-editor-codigo-aprender-python-lenguaje-ia-3008158.jpg?tf=3840x" class="card-img-top" alt="...">
        <h5 class="card-title">Practicas en Android</h5>
        <p class="card-text">Postula y conoce los requisitos.</p>
        <a href="/testp" class="btn btn-primary">Postular</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
  </div>  <br><br>


  <div class="container">
    <div class="card text-center mb-4">
      <div class="card-header">
        Practicas
      </div>
      <div class="card-body">
        <img src="https://d500.epimg.net/cincodias/imagenes/2021/11/23/lifestyle/1637650722_970768_1637650824_noticia_normal.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Practicas en Android</h5>
        <p class="card-text">Postula y conoce los requisitos.</p>
        <a href="/testp" class="btn btn-primary">Postular</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
 

 
    <div class="card text-center mb-4">
      <div class="card-header">
        Practicas
      </div>
      <div class="card-body">
        <img src="https://www.datocms-assets.com/45470/1631110818-logo-react-js.png" class="card-img-top" alt="...">
        <h5 class="card-title">Practicas en Android</h5>
        <p class="card-text">Postula y conoce los requisitos.</p>
        <a href="/testp" class="btn btn-primary">Postular</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>


    <div class="card text-center m-4">
      <div class="card-header">
        Practicas
      </div>
      <div class="card-body">
        <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2023/04/raspberry-lanza-editor-codigo-aprender-python-lenguaje-ia-3008158.jpg?tf=3840x" class="card-img-top" alt="...">
        <h5 class="card-title">Practicas en Android</h5>
        <p class="card-text">Postula y conoce los requisitos.</p>
        <a href="/testp" class="btn btn-primary">Postular</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
  </div>



  

</section>
