.card {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .card-img-top {
    max-width: 250px;
    margin-bottom: 10px;
  }

.btn-primary {
    background-color: blue;
  }
  

  .card-img-top {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Para recortar la imagen y mantener su proporción */
  }

  .search-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .search-container input[type=text] {
    padding: 8px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .search-container button {
    padding: 8px 12px;
    background-color: #5821ee;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
  }